@model IEnumerable<ArithmeticGame.Models.Game>

<h1>Game Menus</h1>


<ul>
    @foreach (var game in Model)
    {
        <li>
            <a asp-controller="Game"
               asp-action="ViewGame"
               asp-route-id="@game.ID">@game.Name</a>
        </li>
    }
</ul>

<p><a asp-controller="Game" asp-action="Add">Add New Game Menu</a></p>
